*{
  margin: 0;
  padding: 0;
}
body{
  font-family: sans-serif;
}

:root {
  --primary-color: #304B66;
  --secondary-color: #22c55e;
  --text-color: #111827;
  --font-size-base: 16px;
  --border-radius: 8px;
  --dark: #0f172a;
  --slate: #64748b;
  --white: #ffffff;
  --border: #e2e8f0;
}